*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: white;
  /* background-color: black; */
  background-image: url('../public/universe.jpg');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat; 
}

/* Navbar  */

.navbar-div{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
}
.logo{
  margin-left: 2em;
  padding: 1.2em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}
#logo-img{
  width: 1em;
  position: absolute;
  left: 1.3em;
}
.menu{
  display: flex;
  padding: 1em;
}
.nav-item a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.nav-item{
  display: flex;
  padding-right: 5em;
}
a:hover{
  color: white;
  text-shadow: 1px 1px #21eafe;
  text-decoration: underline;
}
#spl-char{
  color: #21eafe;
}


/* Carousel  */
/* .cara-box{
  height: 20vh;
} */

/* Container  */

.container-div{
  width: 95%;
  margin: 2em 2em;
}
.grid-div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Movie box  */
.movie-box{
  border-radius: 5px;
  /* box-shadow: 0 30px 70px 0 #04e908, 0 17px 50px 0 rgba(0, 0, 0, .19); */
  margin: 1em;
}
.img-card{
  border-radius: 5px;
  width: 20em;
}


/* Footer  */

footer{
  margin-top: 5em;
  background-color: rgb(33, 33, 33);
  color: whitesmoke;
}
.icons li{
  list-style: none;
}
.inner-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
.footer-text{
  padding: 1em 2em;
}
.copyright{
  padding: 0.8em;
  background-color: black;
  text-align: center;
}
.hover-str:hover{
  color: rgb(3, 185, 185);
}